.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid pink;
}
.thead{
   background-color: powderblue;
   
    
}
.form{
    border-top: 2px solid pink;
    display: flex;
    flex-direction: column;
}
.input{
    width: 200px;
   margin-top: 10px;
  
}
.label{
    margin-top: 5px;
}
.btn{
    width: 200px;
    margin-top: 10px;
    background-color: pink;
    border: 2px solid pink;
    border-radius: 10px;
}